# Environment configuration
#MODE = "production"
#MODE = "debug"

# Server configuration
PORT = 3001
TASK_REQUEST_ENDPOINT = "http://localhost:3001/"
TASK_RESULT_ENDPOINT = "http://localhost:3001/"

# Grid server configuration
#GRID_SERVER_ENDPOINT = "http://gridserver.com:port/" 

# Database configuration
JOBS_DB_PATH = "./jobs.json"
FINISHED_JOBS_DB_PATH = "./finishedjobs.json"

# Project configuration
#PROJECTID = "<your project id>"